################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sms/.vs/sms
/sms/bin/Debug/netcoreapp3.1
/sms/obj
